*{padding: 0px;margin: 0;color:#333;}
body{font:12px/22px "宋体";}
a{text-decoration:none;color: #333; font:bolder 16px/22px "宋体";}
.logo{width:1000px; margin:10px auto;}
.logo img{float:left;}
.wen input{width:150px; height: 20px;float:left; margin:0px auto;}
.an input{width:60px; height:25px; float: left; margin:0px auto;}
.menu{width: 100%; height: 40px; background: #9f9;}
.menu ul{width: 1000px;margin:0px auto;}
.menu ul li{float:left;width:120px;line-height: 40px;}
.banner,.banner img{width:100%;height: auto;}
.main{width:1000px;margin:0px auto;}
.left{width:248px;height: 260px; float: left;border:1px solid #ccc;}
.left img{width:248px;height: 260px;}
.right{width:748px; height: 260px; float:left;border:1px solid #ccc; font:16px "黑体"; line-height:1.5em;}
.clear{clear: left;}
.list{width:1000px; margin:0px auto;}
.list .list-img{width:230px; height: 310px; float:left; margin:10px;}
.footer{height:100px; background: #888;color:#aaa;text-align: center;}
.yuan{margin: 2px auto; height: 45px;width:1000px; background: #9f9;font-size: 20px; float:left; align-content: center;line-height: 45px;}
div h3{text-align: center;}

