@charset "utf-8";
*{margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;}
img{
   border:0px;}
body{
	padding: 0px;
	margin: 0px;}
a{
	color: #666666;
	text-decoration:none;}
a:hover{color: #00bb00;}
li{
	list-style:none;
	margin:0px;
	padding:0px;}
span{
	float: right;
	font-size:12px;
	font-family: "黑体";
	margin-right: 10px;
	color: #666666;
}
p{color: #666666;}
.header{
	width:100%;
	height:190px;}
.logo{width:1000px; height:140px; align-content: center;}
.logo img{
	display: block;
	height:120px;
	width: 120px;
	float:left;
}
.logo p{float:right;line-height: 140px;}
.nav{
	width:100%;
	height:45px;
	align-content: center;}
.nav_body{
	align-content: center;
	width:1000px;
	height:45px;
	font-weight:bolder;
	background-color: #000;
	overflow: hidden;}
.nav_body a{
	color:#FFF;
	line-height:45px;
	font-weight:bold;
	font-size: 15px;
	font-style: "宋体";
	display: block;
	height:45px;
	width: 100px;}
.zhan{
	width: 30px;
	margin:0px;
	padding:0px;
	float: left;
	height: 50px;}
.list{
	width:110px;
	height: 50px;
	margin:0px;
	padding:0px;
	float:left;
	text-align: center;}
.list :hover{
	background-color: #00bb00;}
#shouye{background-color: #00bb00;}
.bread{
	height:40px;
	vertical-align:middle;
	padding-left:35px;
	font-color:#f66;
	line-height: 40px;}
.bread p{
	font:12px bold #f66;
}
.center{
	align-content: center;
	overflow: hidden;
	margin-bottom:10px;
	width:1000px}

.center_left{
	width: 210px;
	float: left;
	margin-right: 20px;
}
.product{
	width:210px;
	height:350px;
	margin-bottom: 10px;
}
.phone{
	width:210px;
	height: 299px;
	margin-bottom:10px;
}
.seach{
	width:210px;
	height:100px;
	margin-bottom: 20px;
}
.product .fenlei{
	height:45px;
	width: 210px;
	color: #fff;
	font-size:17px;
	line-height: 50px;
	font-family: "黑体";
	padding-left:10px;
	background-color: #00bb00;
}
.bottom_list1{
	width:208px;
	height:50px;
	line-height: 50px;
	padding-left: 10px;
	border-bottom: 1px dashed #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
.bottom_list1 a{
	font-size: 15px;
	font-family: "黑体";
}
.phone .kefu{
	height:45px;
	width: 210px;
	color: #fff;
	font-size:17px;
	line-height: 50px;
	font-family: "黑体";
	padding-left:10px;
	background-color: #00bb00;
}
.phone .bottom_list2{
	width:208px;
	height: 70px;
	line-height: 50px;
	padding-left: 10px;
	border-bottom: 1px dashed #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
.phone .bottom_list2 a{
	display: block;
	width: 208px;
	height:20px;
	font-size: 15px;
	font-family: "黑体";
	padding-left: 40px;
}

.bottom_list3{
	width:208px;
	height: 90px;
	line-height: 50px;
	padding-left: 10px;
	border-bottom: 1px dashed #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
.bottom_list3 h2{
	font-size: 15px;
	width: 208px;
	height: 20px;
	font-family: "黑体";
	padding-left:25px;
	padding-bottom: 5px;
	color: #666666;
}
.bottom_list3 p{
	height: 20px;
	font-size: 15px;
	padding-left:10px;
	font-family:  "黑体";
	color: #666666;
}
.seach .sou{
	height:45px;
	width: 210px;
	color: #fff;
	font-size:17px;
	line-height: 45px;
	font-family: "黑体";
	padding-left:10px;
	background-color: #00bb00;
}
.seach .sou_nav{
	width:208px;
	height: 100px;
	line-height: 50px;
	padding:5px;
	border-bottom: 1px dashed #333333;
	border-left: 1px solid #333333;
	border-right: 1px solid #333333;
}
.center_right{
	width:770px;
	float: right;
}
.center_right .title{
	font-size:17px;
	color:#00bb00;
	font-family: "黑体";
	border-bottom: 1px solid #333333;
	height:45px;
	line-height: 50px;
	padding-left:10px; 
	margin:0px auto;
}
.title img{
	display: block;
	float: left;
	margin-top: 20px;
}
.center_right .title img{
	margin-top:18px; 
}
.c{
	height: 190px;
	width:770px; 
	margin-bottom: 10px;
}
.a{
	width:640px;
	height:0px;
}
.c .a img{
	display: block;
}
.c .a{
	width:770px;
	margin-left: 30px;
	float: left;
}
.c img{
	display: block;
	float: left;
	margin-bottom: 10px;
}
.center_right .a a{
	display: block;
	float: left;
	width: 160px;
	text-align: center;
	font-size: 14px;
	font-family: "黑体";
	color:#666666;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.a a:hover{color: #00bb00;}
.fenye{
	width: 770px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 10px;
}
.fenye a{
	font-size:16px;
	font-family: "黑体";
}
.footer{
	background: #111;
	width:100%;
	background-position:center;	
	padding:30px 0 0 0;
	text-align:center;
	height:75px;
}
.footer_lian{
	margin:0px auto;
	overflow: hidden;
	margin-bottom:5px;
	width: 450px;
	text-align: center;
	height:25px;
	font-weight: bold;}
.footer_lian ul{display:block;color: #888;}
.footer li{
	float:left;
	margin:5px 0px;
	display:inline-block;
}
.footer p{
	margin-top:10px;
	color:#888;
}
.footer a:hover{color:#fff;}